.Hello {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: x-large;
}

.krip {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.div {
    background-color: dimgrey;
}

.copy {
    font-size: large;
}